body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chessboard {
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.chessboard div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chessboard .white {
    background-color: #f0d9b5;
}

.chessboard .black {
    background-color: #b58863;
}

.chess-piece {
    font-size: 50px; /* Adjust the font size for the chess pieces */
}
